/* You can add global styles to this file, and also import other style files */
body {
    background: #F8F8F8 !important;
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

.dashboard{
    background:#f9f9f9;
    height:100%;
    width:100%;
    bottom:0px;
}

.whitebox{
    background:#fff;
    padding-left:20px;
    padding-right:20px;
}

.toprow{
    min-height:150px;
    margin-bottom:50px;
}

.largebox{
    min-height:800px;
    padding:20px;
}
.modulesspace{
    padding-top:40px;
}
.bottomrow{
    min-height:600px;
}

.box1{
    padding:20px;
    color:#fff;
    background:#29a0d7;
}
.box2 {
    padding: 20px;
    color: #fff;
    background: #59db75;
}

/* Navbar */
.navbar {
    background-color: #313ccc;
    height: 70px;
    width: 100%;
}


.navbar h2{
    width:200px;
    padding-left:50px;
    float:left;
}


.navbar .icons{
    padding-top:10px;
    padding-right:50px;
}
#settings {
    float: right;
    font-size: 3em;
    color: white;
    padding: 3px;
    padding-right: 10px;
    cursor: pointer;
}

#dashboard {
    cursor: pointer;
    color: white;
}
#user {
    float: right;
    font-size: 3em;
    color: white;
    padding: 3px;
    padding-right: 10px;
    cursor: pointer;
}

#logo {
    float: left;
    color: white;
}
.center{
    text-align: center;
}

.right{
    text-align: right;
}
